@font-face {
    font-family: 'flame_on_blackregular';
    src: url('/fonts/flame_on_black-webfont.eot');
    src: url('/fonts/flame_on_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/flame_on_black-webfont.woff2') format('woff2'),
         url('/fonts/flame_on_black-webfont.woff') format('woff'),
         url('/fonts/flame_on_black-webfont.ttf') format('truetype'),
         url('/fonts/flame_on_black-webfont.svg#flame_on_blackregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'flame_onregular';
    src: url('/fonts/flame_on-webfont.eot');
    src: url('/fonts/flame_on-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/flame_on-webfont.woff2') format('woff2'),
         url('/fonts/flame_on-webfont.woff') format('woff'),
         url('/fonts/flame_on-webfont.ttf') format('truetype'),
         url('/fonts/flame_on-webfont.svg#flame_onregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
