// breakpoints
$mobile_landscape = "(min-width: 480px)"
$tablet_portrait = "(min-width: 768px)"
$tablet_landscape = "(min-width: 1024px)"
$desktop = "(min-width: 1366px)"

@require "_fonts"
@require "_keyframes"
@require "layout"
